@{
    Layout = "~/Shared/_DeHeader.cshtml";
    Page.Title = "Informatie Pagina";
    // zorgt voor de pagina titel en de layout.
}

<!DOCTYPE html>
<html>

<head>

</head>

<body class="bg-light">

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Camping Rijsterbos</h1>
                    @* Header tekst. *@
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-8 order-2 order-lg-1"> <img class="img-fluid d-block" src="images/caravan/buitenkant.jpg"> </div>
                <div class="col-lg-2 col-4 d-flex flex-column justify-content-between order-3 order-lg-2"> <img class="img-fluid d-block" src="images/caravan/keuken.jpg"> <img class="img-fluid d-block" src="images/caravan/slaapkamer.jpg"> </div>
                <div class="px-md-5 p-3 d-flex flex-column justify-content-center col-lg-6 order-1 order-lg-3">
                    <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                    @* Blok met afbeeldingen van de caravan, en hun bron. *@
                    <h1>Mobilheim</h1>
                    <p class="lead"> Dieses Mobilheim befindet sich auf einem Campingplatz in der schönen Rijs am ijselmeer! Dieses Mobilheim ist für maximal 4 Personen gedacht.</p>
                    @* Header tekst en onderliggende tekst. *@
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="px-md-5 p-3 d-flex flex-column justify-content-center col-lg-6 order-1 order-lg-3">
                    <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                    <h1>Camping</h1>
                    <p class="lead"> Auf dem Campings, befindet sich ein schönes beheiztes Schwimmbad, Es gibt auch verschiedene Aktivitäten auf dem Camping unter anderem: Kanufahren, Fahrräder und einen Motorrollerverleih plus einen Teenagerplatz mit Xbox. Es gibt auch ein Restaurant wahr man gut essen kann oder Sie können eine leckere Pizza in der Pizzeria bekommen.</p>
                    @* Header tekst en onderliggende tekst. *@
                </div>
                <div class="px-md-5 p-3 d-flex flex-column justify-content-center col-lg-6 order-1 order-lg-3"><img class="img-fluid d-block" src="images/camping/zwembad.jpg"></div>
                @* Afbeelding met bron. *@
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-8 order-2 order-lg-1"> <img class="img-fluid d-block" src="images/omgeving/het bos.jpeg"> </div>
                <div class="col-lg-2 col-4 d-flex flex-column justify-content-between order-3 order-lg-2"> <img class="img-fluid d-block" src="images/omgeving/IMG_20190329_152110.jpg"> <img class="img-fluid d-block" src="images/omgeving/meer.JPG"> </div>
                @* Blok met afbeeldingen van de omgeving, en hun bron. *@
                <div class="px-md-5 p-3 d-flex flex-column justify-content-center col-lg-6 order-1 order-lg-3">
                    <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                    <h1>Landschaft</h1>
                    <p class="lead"> Der Camping liegt am Rande des Rijsterbos und natürlich am IJsselmeer. Hier konnte man wunderbar segeln oder kite surfen. Auch können sie schöne Spaziergänge im Wald machen.</p>
                    @* Header tekst en onderliggende tekst. *@
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" data-target="#tabone">Campingmöglichkeiten</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" data-target="#tabtwo">Aktivitäten</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" data-target="#tabthree">Rückstellungen</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" data-target="#tabfour">Standort</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" data-target="#tabfive">Allgemeine Informationen</a>
                                </li>
                                @* Kopjes van het klikbara menu. *@
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                    <ul class="">
                                        <li>Chill plaza</li>
                                        <li>Wäscherei</li>
                                        <li>Sanitär</li>
                                    </ul>
                                    @* Tab die behoort tot de camping faciliteiten. *@
                                </div>
                                <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                                    <ul class="">
                                        <li>Schwimmen</li>
                                        <li>Fahrradverleih</li>
                                        <li>Kanufahren</li>
                                        <li>Spielplatz</li>
                                        <li>Erholungsteam</li>
                                    </ul>
                                    @* Tab die behoort tot de activiteiten. *@
                                </div>
                                <div class="tab-pane fade" id="tabthree" role="tabpanel">
                                    <ul class="">
                                        <li>4 Schlafplätze in Wohnwagen</li>
                                        <li>Dusche und WC vorhanden</li>
                                        <li>Eigener Garten mit Gartenmöbeln</li>
                                        <li>Gasherd</li>
                                        <li>Wasserkocher</li>
                                    </ul>
                                    @* Tab die behoort tot de voorzieningen.. *@
                                </div>
                                <div class="tab-pane fade" id="tabfour" role="tabpanel">
                                    <ul class="">
                                        <li>Restaurants</li>
                                        <li>Supermarkt</li>
                                        <li>Eisfarm</li>
                                        <li>Spielplatz für Kinder</li>
                                    </ul>
                                    @* Tab die behoort tot de ligging.. *@
                                </div>
                                <div class="tab-pane fade" id="tabfive" role="tabpanel">
                                    <ul class="">
                                        <li>Kostenlose Parkplätze</li>
                                        <li>Der Preis wird auf der Hauptseite berechnet</li>
                                        <li>Haustiere sind erlaubt</li>
                                    </ul>
                                    @* Tab die behoort tot de algemene informatie.. *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-5">
        <div class="container-fluid p-0">  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2408.78402855647!2d5.496469915788413!3d52.86229267988047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c89477d247b43b%3A0xa96029aa65f62a2f!2sCamping+Rijsterbos!5e0!3m2!1snl!2snl!4v1553269683430" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
    @* Een Google Maps kaartje van de omgeving. *@
</body>

</html>
