@using WebMatrix.Data;
@{
    Layout = "~/Shared/_Header.cshtml";
    Page.Title = "Reservatie Compleet";
    // zorgt voor de pagina titel en de layout.

    Random random = new Random();
    int randomNumber = random.Next(0, 10000);

    var statusInfo = Request.QueryString["status"] ?? null;

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Mamaloe.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    if (statusInfo == "cancel")
    {
        Session.Abandon();
        Response.Redirect("DeHoofdpagina.cshtml");
    }
    else if (statusInfo == "ok")
    {
        var reserverings_datum = DateTime.Now;
        var status = "Gereseveerd";
        var unieknummer = randomNumber;

        var insertCommand = "INSERT INTO Klant (klantnummer, voornaam, tussenvoegsel, achternaam, email, telefoonnummer, straat, huisnummer, postcode, woonplaats, land) VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10)";
        db.Execute(insertCommand, unieknummer, Session["voornaam"], Session["tussenvoegsel"], Session["achternaam"], Session["email"], Session["telefoonnummer"], Session["straat"], Session["huisnummer"], Session["postcode"], Session["woonplaats"], Session["land"]);

        var insert = "INSERT INTO Reservering (klantnummer, reserverings_datum, opmerking, incheck_datum, uitcheck_datum, aantal_personen, huisdier, factuurnummer, status) VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8)";
        db.Execute(insert, unieknummer, reserverings_datum, Session["opmerking"], Session["incheck_datum"], Session["uitcheck_datum"], Session["aantal_personen"], Session["huisdier"], unieknummer, status);

        Response.Redirect("DeReservationComplete.cshtml?order=complete");
    }

}

<!DOCTYPE html>
<html>

<head>

</head>

<body class="bg-light">

    <div class="py-5" style="">
        <div class="container">
            <div class="row" style="">
                <div class="text-center col-md-7 mx-auto">
                    <i class="fa d-block fa-bullseye fa-5x mb-4 text-dark"></i>
                    <h2><b>Vielen Dank für die Buchung!</b></h2>
                    @* Header tekst. *@
                    <p class="lead" contenteditable="false" style="">Eine Bestätigungs-E-Mail wird an die unten angegebene Adresse gesendet:<br><br>@Session["email"]<br>Die Reservierung wird bestätigt, sobald Sie bezahlt haben. Eine Rechnung und weitere Anweisungen werden an Ihre E-Mail gesendet.</p>
                    @* Laat het email address zien. *@
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-warning" href="DeHoofdpagina.cshtml">zur Hauptseite</a>

</body>

</html>

