@using WebMatrix.Data;
@{
    Layout = "~/Shared/_Header.cshtml";
    Page.Title = "Overzichtspagina Reserveren";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Mamaloe.mdf;Integrated Security=True";

    string provider = "System.Data.SqlClient";

    Database db = Database.OpenConnectionString(connectionString, provider);
    var selectedData = db.Query("SELECT * FROM Klant, Reservering ");
    var grid = new WebGrid(source: selectedData, rowsPerPage: 5);

}

<!DOCTYPE html>
<html>
<head>
  
</head>
<body class="bg-light">
   
    <div class="py-5" style="">
        <div class="container">
            <div class="row" style="">
                <div class="text-center col-md-7 mx-auto">
                    <i class="fa d-block fa-bullseye fa-5x mb-4 text-info"></i>
                    <h2><b>Filler Tekst!</b></h2>
                    <p class="lead" contenteditable="true" style="">Hier staan de ingevoerde gegevens:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">

    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-2">
                    <h4 class="d-flex justify-content-between mb-3"> <span class="text-muted">Gegevens:</span> </h4>
                    
                    @grid.GetHtml(
              tableStyle: "grid",
              headerStyle: "head",
              alternatingRowStyle: "alt",
              columns: grid.Columns(
                  grid.Column("achternaam"),
                  grid.Column("email"),
                   grid.Column("telefoonnummer"),
                  grid.Column("klantnummer"),
                  grid.Column("incheck_datum"),
                  grid.Column("uitcheck_datum"),
                  grid.Column("aantal_personen"),
                  grid.Column("huisdier"),
                  grid.Column("factuurnummer"),
                  grid.Column("status")
                  )
                  )

                </div>
            </div>
        </div>
    </div>


</body>
</html>