@using WebMatrix.Data;
@{
    Layout = "~/Shared/_Header.cshtml";
    Page.Title = "Reservatie Compleet";
    // zorgt voor de pagina titel en de layout.

    Random random = new Random();
    int randomNumber = random.Next(0, 10000);

    var statusInfo = Request.QueryString["status"] ?? null;

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Mamaloe.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    if (statusInfo == "cancel")
    {
        Session.Abandon();
        Response.Redirect("Hoofdpagina.cshtml");
    }
    else if (statusInfo == "ok")
    {
        var reserverings_datum = DateTime.Now;
        var status = "Gereseveerd";
        var unieknummer = randomNumber;

        var insertCommand = "INSERT INTO Klant (klantnummer, voornaam, tussenvoegsel, achternaam, email, telefoonnummer, straat, huisnummer, postcode, woonplaats, land) VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10)";
        db.Execute(insertCommand, unieknummer, Session["voornaam"], Session["tussenvoegsel"], Session["achternaam"], Session["email"], Session["telefoonnummer"], Session["straat"], Session["huisnummer"], Session["postcode"], Session["woonplaats"], Session["land"]);

        var insert = "INSERT INTO Reservering (klantnummer, reserverings_datum, opmerking, incheck_datum, uitcheck_datum, aantal_volwassenen, aantal_kinderen, huisdier, factuurnummer, status, prijs) VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10)";
        db.Execute(insert, unieknummer, reserverings_datum, Session["opmerking"], Session["incheck_datum"], Session["uitcheck_datum"], Session["aantal_volwassenen"], Session["aantal_kinderen"], Session["huisdier"], unieknummer, status, Session["prijs"]);

        Response.Redirect("ReservationComplete.cshtml?order=complete");
    }

}
<!DOCTYPE html>
<html>

<head>
   
</head>

<body class="bg-light">
    
<div class="py-5" style="">
    <div class="container">
        <div class="row" style="">
            <div class="text-center col-md-7 mx-auto">
                <i class="fa d-block fa-bullseye fa-5x mb-4 text-dark"></i>
                <h2><b>Bedankt voor het reserveren!</b></h2>
                @* Header tekst. *@
                <p class="lead" contenteditable="false">Er wordt een bevestigings mail gestuurd naar het onderstaande adres:<br><br>@Session["email"] <br> 
                <br />
                De reservering is pas bevestigt als u heeft betaald. Er word een factuur en verdere instructies naar uw email gestuurd.</p>
                @* Laat het email address zien. *@
            </div>
        </div>
    </div>
</div>
    <div class="wrapper">
    <a class="btn btn-warning" href="Hoofdpagina.cshtml" >Naar hoofdpagina</a>
        </div>

  
</body>

</html>

