<!DOCTYPE html>
@* De Stylesheet *@
<html>
<style>
    .grid {
        border-collapse: collapse;
        width: 50%;
    }

        .grid th, .grid td {
            border: 1px solid #C0C0C0;
            padding: 5px;
            width: 50%;
            text-align: center;
        }

    .head {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ffba00;
        color: white;
    }

    .alt {
        background-color: #E8E8E8;
        color: #000;
    }
</style>
@* Grid vormgeving *@
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Checkout</title>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="StyleSheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
@* Gebruikte scripts. *@
<body>

    <nav class="navbar navbar-expand-md bg-warning navbar-light">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar13" style="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar13">
                <a class="navbar-brand d-none d-md-block" href="~/DeHoofdpagina.cshtml"></a>
                    <i class="fa d-inline fa-lg fa-stop-circle-o"></i>
                    <b contenteditable="false"> Mamaloe</b>
                @* Link naar de hoofdpagina als je op de Mamaloe naam klikt. *@
                
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"> <a class="nav-link" href="~/DeHoofdpagina.cshtml">Hauptseite</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="~/DeReservation.cshtml">Reservieren</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="~/Deinformatiepagina.cshtml">Information</a> </li>
                    @* De links naar de verschillende pagina's. *@
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Hoofdpagina.cshtml">
                            <img src="images/vlaggen/netherlands-flag-round-icon-16.png">
                        </a>
                    </li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item">
                        <a href="~/DeHoofdpagina.cshtml">
                            <img src="images/vlaggen/germany-flag-round-icon-16.png">
                        </a>
                    </li>
                    @* De vlaggen om van taal te veranderen. *@
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="py-5 text-muted text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-4">
                    <p class="mb-1">
                        Kontakt
                        <br>
                        Email: gertdraaisma@hotmail.com
                    </p>
                    <p class="mb-1">© 2019 Mamaloe</p>
                </div>
            </div>
        </div>
    </div>
    @* Footer met tekst. *@
</body>

</html>
